.header {
  height: 300px;
}

.picture {
  box-shadow: 10px 10px 5px rgb(0, 0, 0);
  -moz-box-shadow: 10px 10px 5px rgb(0, 0, 0);
  -webkit-box-shadow: 10px 10px 5px rgb(0, 0, 0);
  -khtml-box-shadow: 10px 10px 5px rgb(0, 0, 0);
}
.name {
  font-size: 100px;
  color: rgb(241, 70, 64);
  text-shadow: black 5px 5px;
}
