.summary {
  margin-top: 0;
  padding-top: 0;
  background-image: url("../../images/summarybackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.whoAmI {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: rgb(219, 147, 13);
  text-shadow: black 5px 5px;
  animation: fadeIn linear 7s;
  -webkit-animation: fadeIn linear 7s;
  -moz-animation: fadeIn linear 7s;
  -o-animation: fadeIn linear 7s;
  -ms-animation: fadeIn linear 7s;
}
.text {
  color: black;
  text-shadow: black 1px 1px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.text {
  font-size: 20px;
}
